/* ==========================================================================
   Page
   ========================================================================== */

.c-page {

}

.c-page__header {
    margin-bottom: 50px;

    h1 {
        margin-bottom: 2.5rem; // 25px
        @include fs--heading-2;
        color: $c-base__02;
    }

    p {
        @include fs--meta;
    }

    .site-nav {
      .page-link {
        font-size: 15px;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
          margin-right: 20px;

          &.after {
            content: "/";
          }
        }

        &.active {
          color: $c-accent__yellow;
        }
      }
    }
}

.c-page__footer {
    color: grey;
    margin-bottom: 10rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    p {
        @include fs--body;
        color: $c-base__01;
    }
}

.app-icon {
    width: 70px;
}

.google-play-button {
    display: inline;
    width: 150px;
}

.image-row {
    display: flex;
    flex-direction: row;

    img {
        width: 20%;
    }
}

.project {
    display: flex;
    flex-direction: row;

    .left-col {
        min-width: 130px;
        max-width: 130px;
        margin-right: 15px;
    }

    .right-col {
        flex-grow: 1;
    }
}
